<h1>
  Simple Pricing
</h1>

<article>
  <h3>
    €1
  </h3>
  <ul>
    <li>
      ✅ 1 certificate
    </li>
    <li>
      ✅ Free templates
    </li>
    <li>
      ✅ Digital version does not expire
    </li>
    <li>
      ⛔ Premium templates
    </li>
    <li>
      ⛔ Teams
    </li>
    <li>
      ⛔ Digital seal/stamp
    </li>
  </ul>
</article>

<br>

<article>
  <h3>
    €50/month
  </h3>
  <ul>
    <li>
      ✅ Unlimited certificates
    </li>
    <li>
      ✅ Free templates
    </li>
    <li>
      ✅ Digital version does not expire
    </li>
    <li>
      ✅ Premium templates
    </li>
    <li>
      ✅ Teams
    </li>
    <li>
      ✅ Digital seal/stamp
    </li>
  </ul>
</article>
