<footer>
  Warsaw Legal Hackathon 2022
  <div>
    <%= link_to "Template: Classic", certificate_templates_classic_path(format: :pdf) %>
  </div>
  <div>
    <%= link_to "Template: Modern", certificate_templates_modern_path(format: :pdf) %>
  </div>
  <div>
    <%= link_to "Template: Language Certificate", certificate_templates_language_certificate_path(format: :pdf) %>
  </div>
</footer>