<div style="width:1200px; height:800px; padding:20px; text-align:center; margin: auto; border: 10px solid #563d7c">
  <div style="width:1150px; height:750px; padding:20px; text-align:center; border: 5px solid #563d7c">
    <h1>CertificateTemplates#classic</h1>
    <p>Find me in app/views/certificate_templates/classic.html.erb</p>
    <%= @certificate.event.user.attributes %>
    <%= @certificate.event.attributes %>
    <%= @certificate.attributes %>
    <%= image_tag(@certificate.qr_code) if @certificate.qr_code.attached? %>
  </div>
</div>