<h1>CertificateTemplates#classic</h1>
<p>Find me in app/views/certificate_templates/classic.html.erb</p>
<%= @certificate.event.user.attributes %>
<%= @certificate.event.attributes %>
<%= @certificate.attributes %>