<h1>CertificateTemplates#tech_hackathon</h1>
<p>Find me in app/views/certificate_templates/tech_hackathon.html.erb</p>
<%= @certificate.event.user.attributes %>
<%= @certificate.event.attributes %>
<%= @certificate.attributes %>
<%= image_tag(@certificate.qr_code) if @certificate.qr_code.attached? %>
